= form_tag send("service_products_path"),method: "GET" do
	.ui.icon.input.fluid
		%input{:name => "name", :placeholder => "Enter Name", :type => "text"}
	%br
	%br
		= select_tag :type, options_for_select(ServiceProduct::TYPE, @type), class: "form-control select-select2", prompt: "Select Type"
	%br
		.ui.icon.input.fluid
			%input{:name => "code", :placeholder => "Enter Code", :type => "text"}
	%br
		.ui.icon.input.fluid
			%input{:name => "price_from", :placeholder => "Price From", :type => "text"}
	%br
		.ui.icon.input.fluid
			%input{:name => "price_to", :placeholder => "Price To", :type => "text"}
	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", service_products_path, class: "ui button"
