<section class="content-header">
	<h1>Service And Product
		<small>Control Panel</small>
	</h1>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-3">
			<br><%= link_to "NEW SERVICE/PRODUCT", new_service_product_path, class: "btn btn-block btn-success"%>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="box box-success">
				<div class="box-header">
					<h3 class="box-title">Service And products Table</h3>
				</div>
				<div class="box-body">
					 <table class="ui selectable celled table">
			      <thead>
			        <tr>
			          <th>Name</th>
			          <th>Position</th>
			          <th>Email</th>
			          <th>Contact No.</th>
			          <th>Actions</th>
			        </tr>
			      </thead>
			      <tbody>

			      </tbody>
			    </table>
				</div>
			</div>
		</div>
	</div>
</section>