%section.content-header
  %h1
    Service And Product
    %small Reports
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Filter Tool
        .box-body
          = link_to "Print All Service And Product", service_products_print_all_path, class: "ui button"
          %br
          %br
          = form_tag send("service_products_print_all_path"),method: "GET" do
            .row
              .col-md-12
                = select_tag :type, options_for_select(ServiceProduct::TYPE, @type), class: "form-control select-select2", prompt: "Select Type"
            %br
            .row
              .col-md-12
                .ui.icon.input
                  %input{:name => "price_from", :placeholder => "Price From", :type => "text"}
                  %i.inverted.circular.search.link.icon
            %br
            .row
              .col-md-12
                .ui.icon.input
                  %input{:name => "price_to", :placeholder => "Price To", :type => "text"}
                  %i.inverted.circular.search.link.icon
            %br
            .pull-right
              .ui.buttons
                %button.ui.positive.button Search
                .or
                = link_to "Clear", service_products_print_path, class: "ui button"
