%section.content-header
  %h1
    Proposals
    %small Control Panel
%section.content
  .row
  = simple_form_for [@proposal, @feature_list], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |f|
    %form{:role => "form"}
      .col-md-6
        .box.box-default.box-solid
          .box-header
            %h3.box-title Add
          .box-body
            .field
              = f.input :name
              .field
                = f.input :description
              %center
                = f.submit class: "btn btn-success"
