<div class="ui form">
	<table class="table hp-table table-splited">
		<thead>
			<tr>
				<th>Feature List</th>
				<th>Description</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><%= @feature_list.name %></td>
				<td><%= @feature_list.decription %></td>
			</tr>
		</tbody>
  </table>
</div>		