= form_tag send("petty_vouchers_path"),method: "GET" do
	.row
		.col-md-12
			.ui.icon.input
				%input{:name => "name", :placeholder => "Payee", :type => "text"}
				%i.inverted.circular.search.link.icon
	%br
	.row
		.col-md-12
			.ui.icon.input
				%input{:name => "start_date", :placeholder => "Date From", class: "datepick"}
				%i.inverted.circular.search.link.icon
	%br
	.row
		.col-md-12
			.ui.icon.input
				%input{:name => "end_date", :placeholder => "Date To", class: "datepick"}
				%i.inverted.circular.search.link.icon


	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", petty_vouchers_path, class: "ui button"
