= form_tag send("petty_vouchers_path"),method: "GET" do
	.ui.icon.input.fluid
		%input{:name => "name", :placeholder => "Payee", :type => "text"}
	%br
		.ui.icon.input.fluid
			%input{:name => "start_date", :placeholder => "Date From", class: "datepick"}
	%br
		.ui.icon.input.fluid
			%input{:name => "end_date", :placeholder => "Date To", class: "datepick"}
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", petty_vouchers_path, class: "ui button"
