%section.content-header
  %h1
    Check Account
    %small Edit
%section.content
  = simple_form_for [@check_voucher, @check_account], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |ca|
    %form{:role => "form"}
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title Edit
          .box-body
            .field
              = ca.association :accounting_code, as: :select, collection: AccountingCode.all
            .field
              = ca.input :trans_type, as: :select, collection: CheckAccount::POST_TYPE
            .field
              = ca.input :amount
          .box-footer
            .row
              .col-md-10
              .col-md-2
                %button.btn.btn-primary
                  %i.save.icon>
                  SAVE