!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
          %link{:href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
            %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}
              %link{:href => "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}
                %link{:href => "dist/css/AdminLTE.min.css", :rel => "stylesheet"}
                  %link{:href => "dist/css/skins/_all-skins.min.css", :rel => "stylesheet"}
                    %link{:href => "plugins/iCheck/flat/blue.css", :rel => "stylesheet"}
                      %link{:href => "plugins/morris/morris.css", :rel => "stylesheet"}
                        %link{:href => "plugins/jvectormap/jquery-jvectormap-1.2.2.css", :rel => "stylesheet"}
                          %link{:href => "plugins/datepicker/datepicker3.css", :rel => "stylesheet"}
                            %link{:href => "plugins/daterangepicker/daterangepicker-bs3.css", :rel => "stylesheet"}
                              %link{:href => "plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css", :rel => "stylesheet"}
    %body.hold-transition.skin-blue.sidebar-collapse.sidebar-mini
      .wrapper
        %header.main-header
          %a.logo
            %span.logo-mini
              %b 
                %img.img-aquare{:src => "/assets/logofinal.png", :height => "30", :width => "43", :color => "white"} 
               
            %span.logo-lg
              %img.img-aquare{:src => "/assets/logo2.png", :height => "35", :width => "190", :color => "white"}
          %nav.navbar.navbar-static-top{:role => "navigation"}
            %a.sidebar-toggle{"data-toggle" => "offcanvas", :role => "button"}
              %span.sr-only Toggle navigation
            .pull-right
              %ul.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %img.img-circle{:src => "/assets/avatar5.png", :height => "38", :width => "40"}
                  %span.hidden-xs 
                  - if user_signed_in?
                    %font{:color => "white"}
                      = current_user.username
              %ul.dropdown-menu
                %li.user-header
                  %p
                    %img.img-circle{:align => "middle", :height => "65", :src => "/assets/avatar5.png", :width => "80"}
                    %b
                      = current_user.to_s
                %li.user-footer
                  .ui.buttons
                    = link_to "Update Profile", edit_user_registration_path, class: "ui button"
                    .or
                    = link_to "Sign Out", destroy_user_session_path, class: "ui button", method: :delete, data: { Confirm: "Are you sure?" }
.control-sidebar-bg
  :javascript
    $.widget.bridge('uibutton', $.ui.button);