%header.main-header
  %a.logo{:href => "/"}
    %span.logo-lg
      CloudBand
    %span.logo-mini
      %b> <
      CB
  %nav.navbar.navbar-static-top{:role => "navigation"}
%header.main-header
  %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
    %span.sr-only Toggle navigation
  .navbar-custom-menu
    %ul.nav.navbar-nav
      %li.dropdown.messages-menu
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-envelope-o
          %span.label.label-success Account
        %ul.dropdown-menu
          %li
            .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 200px;"}
              %ul.menu{:style => "overflow: hidden; width: 100%; height: 200px;"}
                %li
                  %a.ui.item
                    - if user_signed_in?
                      %i.user.icon
                      = current_user.email
                      = link_to "Sign Out", destroy_user_session_path,  method: :delete, data: { Confirm: "Are you sure?" },  class: "item"
                    - else
                      %a.item{:href => "/users/sign_in"} Log In
