<aside class="main-sidebar">  
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 623px;">
    <div class="sidebar" id="scrollspy" style="height: 623px; overflow: hidden; width: auto;">
      <ul class="nav sidebar-menu">
        <li class="header">Main Navigation</li>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/employees">Employee</a>
        </li>
        <li>
          <a href="/service_products">Service/Products</a>
        </li>
        <li>
          <a href="/clients">Clients</a>
        </li>
        <li>
          <a href="/orders">Order</a>
        </li>
        <li>
          <a href="/billings">Billings</a>
        </li>
        <li>
          <a href="/proposals">Proposal</a>
        </li>
        <li>
          <a href="/accounting_codes">Accounting Codes</a>
        </li>
        <li>
          <a href="/petty_vouchers">Petty Cash Voucher</a>
        </li>
        <li>
          <a href="/cash_vouchers">Cash Voucher</a>
        </li>
        <li>
          <a href="/check_vouchers">Check Voucher</a>
        </li>
        <li>
          <a href="/company_profiles">Company Profile</a>
        </li>
      </ul>
    </div>
    <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 623px;"></div>
    <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
</aside>

