 <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="icon users"></i> <span>Employee Operation</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/employees"><i class="fa fa-circle-o"></i> Employee Record</a></li>
                <li><a href="/accounting_codes"><i class="fa fa-circle-o"></i> Accounting Code</a></li>
                <li><a href="/check_vouchers"><i class="fa fa-circle-o"></i> Check Voucher</a></li>
                <li><a href="/cash_vouchers"><i class="fa fa-circle-o"></i> Cash Voucher</a></li>
                <li><a href="/petty_vouchers"><i class="fa fa-circle-o"></i> Petty Cash Voucher</a></li>
                <li><a href="/proposals"><i class="fa fa-circle-o"></i> Proposal</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="/service_products">
                <i class="fa fa-laptop"></i>
                <span>Services/Products</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/orders">
                <i class="fa fa-edit"></i> <span>Order</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-table"></i> <span>Client Operation</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/clients"><i class="fa fa-circle-o"></i> Client Record</a></li>
                <li><a href="/billings"><i class="fa fa-circle-o"></i> Billing</a></li>
              </ul>
            </li>
            <li class="active treeview">
              <a href="/company_expenses">
                <i class="fa fa-folder"></i> <span>Company Expenses</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/company_profiles">
                <i class="fa fa-folder"></i> <span>Company Profile</span>
              </a>
            </li>
        </section>
      </aside>


          
          
          
          
          
          
          
          
          
          
          
      