%aside.main-sidebar
  .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 623px;"}
    #scrollspy.sidebar{:style => "height: 623px; overflow: hidden; width: auto;"}
      %ul.nav.sidebar-menu
        %li.header MODULES
        %li
          %a{:href => "/"} Dashboard
        %li
          %a{:href => "/employees"} Employee
        %li
          %a{:href => "/service_products"} Service/Products
        %li
          %a{:href => "/company_profiles"} Company Profile
        %li
          %a{:href => "/clients"} Clients
        %li
          %a{:href => "/petty_vouchers"} Petty Cash Voucher
        %li
          %a{:href => "/billings"} Billings
        %li
          %a{:href => "/check_vouchers"} Check Voucher
        %li
          %a{:href => "/cash_vouchers"} Cash Voucher
        %li
          %a{:href => "/check_vouchers"} Check Voucher
        %li
          %a{:href => "/accounting_codes"} Accounting Codes
        %li
          %a{:href => "/orders"} Order
          

    .slimScrollBar{:style => "background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 623px;"}
    .slimScrollRail{:style => "width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"}