<%= simple_form_for [@proposal, @software_browser], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |sb| %>
  <form role="form">
      <div class="field">
        <%= sb.input :name %>
       </div>
    </div>
    <%= sb.submit class: "btn btn-primary" %>
  </form>
  <% end %>
</div>
