= form_tag send("clients_path"),method: "GET" do
	.ui.icon.input.fluid
		%input{:name => "client_name", :placeholder => "Enter Name", :type => "text"}
	%br
		.ui.icon.input.fluid
			%input{:name => "company_name", :placeholder => "Enter Company Name", :type => "text"}
	%br
		= select_tag :status, options_for_select(Client::STATUS, @status), class: "form-control select-select2", prompt: "Select Status"
	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", clients_path, class: "ui button"
