%section.content-header
  %h1
    Client
    %small Reports
%section.content
  .row
    .col-md-3
      .box.box-default.box-solid
        .box-header
          %h3.box-title Filter Tool
        .box-body
          = link_to "Print All Client", clients_print_all_path, class: "ui button"
          %br
          %br
          = form_tag send("clients_print_all_path"),method: "GET" do
            .row
              .col-md-12
                = select_tag :status, options_for_select(Client::STATUS, @status), class: "form-control select-select2", prompt: "Select Status"
              
            %br
            .pull-right
              .ui.buttons
                %button.ui.positive.button Search
                .or
                = link_to "Clear", clients_print_path, class: "ui button"
