= form_tag send("company_expenses_path"),method: "GET" do
	.row
		.col-md-12
			.ui.icon.input
				%input{:name => "start_date", :placeholder => "Expensed From", class: "datepick"}
				%i.inverted.circular.search.link.icon
	%br
	.row
		.col-md-12
			.ui.icon.input
				%input{:name => "end_date", :placeholder => "Expensed To", class: "datepick"}
				%i.inverted.circular.search.link.icon


	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", company_expenses_path, class: "ui button"
