= form_tag send("company_expenses_path"),method: "GET" do
	.ui.icon.input.fluid
		%input{:name => "start_date", :placeholder => "Expensed From", class: "datepick"}
	%br
		.ui.icon.input.fluid
			%input{:name => "end_date", :placeholder => "Expensed To", class: "datepick"}
	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", company_expenses_path, class: "ui button"
