= simple_form_for @order, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |o|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title New Order Detail
          .box-body
            .field
              = o.association :employee, as: :select, collection: Employee.all
            .form-group
              = o.association :client, as: :select, collection: Client.all

          .box-footer
            .row
              .col-md-10
              .col-md-2
                %button.btn.btn-primary
                  %i.save.icon>
                  SAVE