%section.content-header
  %h1
    Dashboard
    %small Control Panel
%section.content
  .row
    .col-lg-3.col-xs-6
      .small-box.bg-aqua
        .inner
          %h3= Client.count
          %p Clients
        .icon
          %i.users.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/clients"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-yellow
        .inner
          %h3= Employee.count
          %p Employees
        .icon
          %i.users.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/employees"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-green
        .inner
          %h3= ServiceProduct.count
          %p Service/Products
        .icon
          %i.cube.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/service_products"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-red
        .inner
          %h3= Order.count
          %p Orders
        .icon
          %i.in.cart.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/orders"}
          More Info
          %i.fa.fa-arrow-circle-right