%section.content-header
  %h1
    Dashboard
    %small Control Panel
%section.content
  .row
    .col-lg-3.col-xs-6
      .small-box.bg-aqua
        .inner
          %h3= Client.count
          %p Clients
        .icon
          %i.users.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/clients"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-yellow
        .inner
          %h3= Employee.count
          %p Employees
        .icon
          %i.users.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/employees"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-green
        .inner
          %h3= ServiceProduct.count
          %p Service/Products
        .icon
          %i.cube.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/service_products"}
          More Info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-red
        .inner
          %h3= Order.count
          %p Orders
        .icon
          %i.in.cart.icon{:style => "top:50px;"}
        %a.small-box-footer{:href => "/orders"}
          More Info
          %i.fa.fa-arrow-circle-right



/ .box-body
/ .col-md-6
/   / USERS LIST
/   .box.box-danger
/     .box-header.with-border
/       %h3.box-title Latest Members
/       .box-tools.pull-right
/         %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
/           %i.fa.fa-minus
/         %button.btn.btn-box-tool{"data-widget" => "remove", :type => "button"}
/           %i.fa.fa-times
/     / /.box-header
/   .box-body.no-padding
/     %ul.users-list.clearfix
/       %li
/         %img{:alt => "User Image", :src => "/assets/avatar5.jpg"}
/           %a.users-list-name{:href => "#"} Alexander Pierce
/           %span.users-list-date Today
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user8-128x128.jpg"}
/           %a.users-list-name{:href => "#"} Norman
/           %span.users-list-date Yesterday
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user7-128x128.jpg"}
/           %a.users-list-name{:href => "#"} Jane
/           %span.users-list-date 12 Jan
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user6-128x128.jpg"}
/           %a.users-list-name{:href => "#"} John
/           %span.users-list-date 12 Jan
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user2-160x160.jpg"}
/           %a.users-list-name{:href => "#"} Alexander
/           %span.users-list-date 13 Jan
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user5-128x128.jpg"}
/           %a.users-list-name{:href => "#"} Sarah
/           %span.users-list-date 14 Jan
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user4-128x128.jpg"}
/           %a.users-list-name{:href => "#"} Nora
/           %span.users-list-date 15 Jan
/       %li
/         %img{:alt => "User Image", :src => "dist/img/user3-128x128.jpg"}
/           %a.users-list-name{:href => "#"} Nadia
/           %span.users-list-date 15 Jan
/     / /.users-list
/   / /.box-body
/   .box-footer.text-center
/     %a.uppercase{:href => "javascript:void(0)"} View All Users
/  