= simple_form_for [@order, @order_particular], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |f|
	%form{:role => "form"}
		.row
			.col-md-12
				.field
					= f.association :service_product, as: :select, collection: ServiceProduct.all
		.row
			.col-md-12
				.field
					= f.input :quantity
		.row
			.col-md-10
			.col-md-2
				%button.btn.btn-primary
					%i.save.icon>
					SAVE