= simple_form_for @accounting_code, defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |ac|
  %form{:role => "form"}
    .row
      .col-md-12
        .box.box-default.box-solid
          .box-header
            %h3.box-title Accounting Code
          .box-body
            .form-group
              = ac.input :name
            .form-group
              = ac.input :code
          .box-footer
            .pull-right
              %button.btn.btn-primary
                %i.save.icon>
                SAVE
                