= form_tag send("accounting_codes_path"),method: "GET" do
	.ui.icon.input.fluid
		%input{:name => "code", :placeholder => "Enter Code", :type => "text"}
		
	%br
	.pull-right
		.ui.buttons
			%button.ui.positive.button Search
			.or
			= link_to "Clear", accounting_codes_path, class: "ui button"
