%section.content-header
  %h1
    Terms And Conditions
    %small Edit
%section.content
  = simple_form_for [@proposal, @terms_condition], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |tc|
    %form{:role => "form"}
      .field
        = tc.input :name
      .field
        = tc.input :content
      = tc.submit class: "btn btn-success"