%section.content-header
  %h1
    Proposal
    %small Information
    %br
      .pull-left
        = link_to "BACK", :back, class: "btn btn-flat btn-success"
%section.content
  = render partial: "form"