= simple_form_for [@proposal, @software_requirement], defaults: { wrapper_html: { class: 'form-group' }, input_html: {class: 'form-control'} }, html: { multipart: true, novalidate: true } do |sr|
  %form{:role => "form"}
    .field
      = sr.input :component
    .field
      = sr.input :cost
    .row
      .col-md-10
      .col-md-2
        %button.btn.btn-primary
          %i.save.icon>
          SAVE